#Options -MultiViews

# Activates URL rewriting (like myproject.com/controller/action/1/2/3)
RewriteEngine On

#RewriteBase /

# Prevent people from looking directly into folders
#Options -Indexes

# If the following conditions are true, then rewrite the URL:
# If the requested filename is not a directory,
RewriteCond %{REQUEST_FILENAME} !-d
# and if the requested filename is not a regular file that exists,
RewriteCond %{REQUEST_FILENAME} !-f
# and if the requested filename is not a symbolic link,
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ https://turing.cs.olemiss.edu/~sdhoju/SOEInfoHub/public/index.php?url=$1 [QSA,L]