
.announcement-items{
 width:90%;
 min-height: 220px;
}
.announcement-post{
    font-size: 1.25em!important;
    max-width: 90%;    
    padding: 2em;
    display: inline-flex;
    margin-left: auto;    
    padding: 2em;
    font-size: 1.15em;
    color: #555;
    text-shadow: 0 1px 0 #FFFFFF;    
}

.announcement{
    font-size: 1.25em!important;
    margin-left: auto;
    float:left;
    width: 75%;    
    padding: 2em;
}
.rightsidebar 
{
    /* float:right; */
    width: 20%;
    position: absolute;
    right: 0px;
    top:40px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}


.wp-caption.alignleft{
    min-height: 30%;
    width: 200em;
    max-width: 50%;
    min-width: 20%;
}
.announcement-post-text{
    width: 70%;
    max-width: 70%;
}
 b {
    font-weight: bold;
    padding-bottom: .5em;
}

.announcement-post-title{
    font-size: 20px;
    width: 100%;
    text-align: left;
    padding-bottom: .5em;
    }
    
.announcement-items.announcement-box{
    display: inline-block;

    }

.announcement-items .announcement-post-creater, .announcement-post-location{
    font-size: 20px;;
    text-align: left;
    }
    
.announcement-post-text{
    padding-top: 1em;
    font-size: .95em;
    text-align: justify;
    line-height: 1.7em;
    color: #555
    }
    
.announcement-post-image-header {
    width: 90%;
    margin-left: 5%;
    height: auto;

}
.announcement_post p{
    color: #555;

}
.wrapper-con-rec{
    display: inline-flex;
}

.create-announcement-form{
  width: 85%;  
}


.create-announcement-form table{
    width: 70%;
    background-color: #14213d;
}
.ui-datepicker table{
    background-color: #14213d;
}

.announcementform tbody{
    padding-bottom: 2em;
}
.announcementform input{
    color: black;
    font-size: larger;
    height: 40px;
    /* width: 75%; */
    border-radius: 4px;
    /* background-color: #c2e1ff; */
}
.announcementform textarea{
    height: 400px;
    width: 90%;
    border-radius: 4px;
    color: black;
}
.announcementform  input[type='text'],input[type='email']{
    width: 80%;
}

.announce-info  input[type='text']{
    width: 90%!important;
}

.announcementform table, .announcementform th , .announcementform td {
    color: white;
    border-collapse: collapse;
    padding-left: 50px;
    padding-top: 12px;
    font-size: 1.15em;;
    
}
.announcement-attachment input[type='file']{
       color:white!important;
}

.alert-box.info {
    /* background-color: #a0d3e8; */
    background-color: #f2f2f2;
    border-color: transparent;
    color: #030303;
    /* width: 60%; */
}
/* .alert-box.info { animation: css 0s 2s forwards; } */

@keyframes css  { to { visibility: hidden; } }





.alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-weight: normal;
    margin-bottom: 1.5rem;
    position: relative;
    font-size: 2.25rem;
    /* transition: opacity 300ms ease-out; */
    background-color: #65704e;
    border-color: #0078a0;
    color: #d8e5bc;
}

.published-button{
    background-color: green;
    color: #030303;
}
.unpublished-button{
    background-color:red;
    color: #030303;
}


.form-submission{
text-align: center;
padding-bottom: 2em;
}
.form_submit_button{
    width: 50%!important;
    background-color: #d1363a !important;
    border-radius: 25px !important;
    color: floralwhite !important;

}

.add-new-contact, .add-new-attachment, .login-button{
    width: 150px!important;

    background-color: #d1363a !important;
    color: floralwhite !important;
 
}

.login-button{
    width: 100px!important;
    /* height: 2.5em; */
    background-color: #d1363a !important;
    color: floralwhite !important;
    text-align: center;
    font-size:1.65em;
}
.asterisk {
    color: #d1363a!important;
}

.aside {
    max-width: 768px;
    width: 25%;
    float: right;
    height: auto;
}
.alignright {
    float: right;
}
.alignleft{
    float: left;
}
nav.sidebar.contactblock, nav.main-contact.contactblock {
    background-color: #14213D;
    padding: 20px;
}
nav.sidebar {
    margin-bottom: 25px;
}


nav.otherlinks {
    background-color: white;
    border: 1px solid #D9D9D9;
    line-height: 24px;
    
}
nav.otherlinks li {
    border-bottom: 1px solid #D9D9D9;
  }

  .sidebar h2 {
    display: none;
}
nav.otherlinks li a {
    color: #142161;
    font-size: .9em;
    font-weight: bold;
    display:block;
    padding: 15px 15px 12px 30px;
  background: url("http://www.olemiss.edu/_images/icons-main/arrow-blue.png") no-repeat scroll 4px center transparent;
  }

  nav.otherlinks {
    background-color: #E8EBF2;
    display:block;
  }

nav.sidebar.contactblock ul li.assist a, nav.sidebar.contactblock ul li.assist-number a, nav.sidebar.contactblock ul li.fax a, nav.main-contact.contactblock ul li.fax a, nav.sidebar.contactblock ul li.fax-noline a {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.55em;
    color: #9BA5C2;
}
nav.sidebar.contactblock ul li.assist, nav.sidebar.contactblock ul li.assist-number, nav li.fax, nav li.fax-noline {
      color: #9BA5C2;
      text-shadow: none;
      text-transform: uppercase;
      max-width: 100%;
    }
nav.sidebar.contactblock ul li.fax, nav.main-contact.contactblock ul li.fax {
    background: url(http://www.olemiss.edu/_images/border/black-blue-hrz.png) repeat-x scroll center top transparent;
    padding-top: 21px;
}

nav a {
    text-decoration: none;
}
li.fb {background: url("images/imgs_icon/icons-social-depts-gray.png") no-repeat scroll 0 -320px transparent;}
li.twit {background: url("images/imgs_icon/icons-social-depts-gray.png") no-repeat scroll 0 -300px transparent;}
li.yt {background: url("images/imgs_icon/icons-social-depts-gray.png") no-repeat scroll 0 -403px transparent;}
li.in {background: url("images/imgs_icon/icons-social-depts-gray.png") no-repeat scroll 0 -423px transparent;}
li.ig {background: url("images/imgs_icon/icons-social-depts-gray.png") no-repeat scroll 0 -240px transparent;}
li.gg {background: url("images/imgs_icon/icons-social-depts-gray.png") no-repeat scroll 0 -200px transparent;}
li.pint {background: url("images/imgs_icon/icons-social-depts-gray.png") no-repeat scroll 0 -220px transparent;}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    width: 480px;
    max-width: 480px;
    text-align: center;
    margin-left:25%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
    padding: 2px 16px;
    height:auto;

}

.mobile {display:none;}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media screen and 
(max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .secondary #innercontent{
        padding:0;
    }
    .announcement-items {
        width: 100%;
    }
   .announcement-post{
        font-size: 1.15em;
        /* margin-left: 10px; */
        max-width:  100%;    
        display: block;
        padding: .5em;

    }
    .rightsidebar 
    {
        width: 100%;
        margin: auto;
        position: inherit;
        float: left;
    }
    .announcement-text.alignright {
        margin: auto;
        /* float: right; */
        float:none;
  
    }
    .announcement-post-wrapper {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
    }
    .wp-caption.alignleft{
        min-height: auto;
        max-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;

    }
    
    .create-announcement-form {
        width: 100%;
        /* overflow: scroll; */
    }
    /* Force table to not be like tables anymore */
    .create-announcement-form table{
        width: 100%;
        background-color: #14213d;
    
    }
    .announcementform table,
    .announcementform thead,
    .announcementform tbody, 
    .announcementform th, 
    .announcementform td, 
    .announcementform tr { 
		display: block; 
	}
	/* .announcementform{
        width: 120%;
        padding-left: 10px;
    } */
  
    .announcementform textarea {
        height: 300px;
        width: 90%;
        border-radius: 4px;
        color: black;
    }
	.announcementform td { 
		/* Behave  like a "row" */
		position: relative;
        padding-left: 10%; 
        padding-right: 10%; 
	}
    
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        max-width: 90%;
        text-align: center;
        margin: 10%;
    }
        
    .container-card {
        padding: 2px 16px;
    }
    
	
}